@{
	ViewData["Title"] = "Головна";
}

<h1>Вітаємо в грі Minesweeper!</h1>

<a class="btn btn-primary" href="/Home/Start?playerName=Roman">Розпочати гру</a>


<p><a class="btn btn-secondary" href="/Home/Rating">Перейти до рейтингу гравців</a></p>